<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/tpa_1?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123</property>
    <mapping resource="HibernateClasses/ProductInContainer.hbm.xml"/>
    <mapping resource="HibernateClasses/User.hbm.xml"/>
    <mapping resource="HibernateClasses/Container.hbm.xml"/>
    <mapping resource="HibernateClasses/Category.hbm.xml"/>
    <mapping resource="HibernateClasses/Make.hbm.xml"/>
    <mapping resource="HibernateClasses/UserLogin.hbm.xml"/>
    <mapping resource="HibernateClasses/UserType.hbm.xml"/>
    <mapping resource="HibernateClasses/Description.hbm.xml"/>
    <mapping resource="HibernateClasses/ContainerType.hbm.xml"/>
    <mapping resource="HibernateClasses/Stock.hbm.xml"/>
    <mapping resource="HibernateClasses/Invoice.hbm.xml"/>
    <mapping resource="HibernateClasses/LoginSession.hbm.xml"/>
    <mapping resource="HibernateClasses/SystemStatus.hbm.xml"/>
    <mapping resource="HibernateClasses/Images.hbm.xml"/>
    <mapping resource="HibernateClasses/Product.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
